*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App button,
input {
  border: none;
}
#canvas {
  width: 100%;
  height: 90vh;
  border: 2px solid white;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(to right, blue, green);
}
.toolkit {
  margin-bottom: 10px;
  height: 30px;
  color: black;
  margin-top: 20px;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30px 30px 30px 30px 30px 30px 1fr;
  text-align: center;
  column-gap: 10px;
}
.item {
  height: 100%;
  width: 100%;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: sans-serif;
}

.clear {
  justify-self: end;
  width: 80px;
}
.svg-inline--fa {
  height: 20px;
  width: 20px;
}
